</div></div>
<div id="loader" class="ui content active inverted dimmer hidden" style="height: 100%; width: 100%;display:none;overflow:hidden;">
    <div class="ui indeterminate text inverted loader">Please Wait...</div>
</div>
<script src="/prod/js/site.js?ver=1"></script>
<script src="/prod/js/views/app.js?ver=7"></script>
{{#if scriptPath}}
<script src="{{{scriptPath}}}" type="text/javascript"></script>
{{/if}}
</body>
</html>
