<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>{{_pageTitle title}}</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta name="apple-mobile-web-app-title" content="TEAConnect">
    <meta name="application-name" content="TEAConnect">
    <meta name="theme-color" content="#ffffff">
    <base href="/">
    <link rel="stylesheet" type="text/css" href="/prod/styles/site.css?ver=5">
    <style>
        .ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url] {
            line-height: 1.3em;
        }
    </style>
    <!--<script type="text/javascript">
        var BASE_URL = window.location.origin+"/";
    </script>-->
    <style>
        ui.header:first-child {
            margin-left: 50px;
        }
    </style>
</head>
<body>
    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu ui-navigation">
        
    </div>

    <!-- Page Contents -->
    <div class="pusher">
        <div class="ui vertical masthead center aligned segment">
            <div class="ui container" style="height:40px;"></div>
            