{{> header}}
<div class="ui container">
    <div class="ui statistic">
        <div class="value" id="randomStatVal">5550</div>
        <div class="label">Random Number<i class="large green sync link icon" onclick="updateNumber();"></i></div>
        
    </div>
</div>
<!--<script src="/prod/js/views/landing.js" type="text/javascript"></script>-->
{{> footer}}