
  <div style="width:100%; height:20px;"></div>
  {{> petManagement / form}}
  <div id="submit_create" class="ui primary button" ng-click="submitCreate();">
    <i class="checkmark icon"></i>
    Create
  </div>
  <div id="reset_create" class="ui secondary button" ng-click="clearCreate();">
    <i class="undo icon"></i>
    Clear
  </div>