
{{> petManagement / selection}}
{{> petManagement / form}}
<div id="submit_update" class="ui primary button disabled" ng-click="submitUpdate();">
  <i class="checkmark icon"></i>
  Update
</div>
<div id="reset_update" class="ui secondary button disabled" ng-click="resetUpdate();">
  <i class="undo icon"></i>
  Reset
</div>
    